# requirements.txt
fastapi
uvicorn
python-multipart
pymupdf
httpx
pydantic-settings
numpy
rich
questionary
pymupdf4llm
markdown-it-py
python-dotenv
fsrs
platformdirs
pyinstaller
langfuse
json-repair==0.63.3
supabase
psutil
requests